
.mui-content{
	width: 80%;
	margin: 0 auto;
	padding-top: 27%;
}
.box_a{
	overflow: hidden;
}
.type_a{
	margin: 10px 3% 0 0;
	float: right;
	color: #998573 !important;
	font-size: 0.9em;
	border-bottom: 1px dashed #998573;
}






