
.mui-content{
	width: 90%;
	margin: 0 auto;
	padding-top: 15%;
	text-align: center;
}
.box_center_infor{
	overflow: hidden;
}
.box_infor{
	padding: 13px 0;
	float: left;
}
.box_infor ul{
	margin: 0;
	padding-left: 5%;
}
.box_infor ul>li{
	width: 90%;
	margin-bottom: 5px;
	text-align: left;
	font-size: 11px;
	color: #665241;
	border-bottom: 1px solid #E6D3C3;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
}
.box_Collection_num{
	padding: 16px 0;
	float: right;
	background: white;
	color: #665241;
}
.box_Collection_num div{
	font-size: 11px;
	line-height: 25px;
}
.box_Collection_num .Collection_num{
	font-size: 20px;
}
.box_operation{
	margin: 15px 0;
}
.operation_infor{
	width: 30%;
	height: 110px;
	display: inline-block;
}
.operation_icon{
	width: 100%;
	background: #01CA98;
}
.operation_icon span{
	font-size: 46px;
	color: white;
	line-height: 170%;
}
.operation_infor .box_Line{
	width: 60%;
	margin: 5px 0 0;
}
.operation_icon_2{
	width: 100%;
	background: #333333;
	margin-bottom: 7px;
	position: relative;
	overflow: hidden;
}
.operation_icon_2 span{
	font-size: 46px;
	color: #577B73;
	line-height: 170%;
}
.operation_icon_2 .icon-iconfont74{
	color: #1a1a1a;
}
/*.operation_icon_2 .prohibit{
	font-size: 180px;
	color: #1a1a1a;
	position: absolute;
	left: -50px;
	top: -115px;
}*/
/*canvas---style*/
#canvas{
	position: absolute;
	top: 0;
	left: 0;
}
.operation_type{
	color: #403225;
	text-align: left;
	font-size: 0.8em;
	padding-left: 8px;
}
.operation_right{
	margin-right: 2%;
}
.box_btn{
	margin: 20px auto 40px;
}
/*弹窗---上钟*/
body{
	position: relative;
}
#ShangZhong{
	position: fixed;
	top: 10% !important;
	color: #665241;
	width: 82%;
	height: 320px;
	background: white;
	margin: 0 9%;
}
.box_ShangZhong{
	width: 100%;
	padding: 5% 8% 0;
}
#ShangZhong .box_Line{
	width: 50px;
	margin-bottom: 5%;
}
.infor_customer{
	height: 32px;
	width: 100%;
	margin-bottom: 4%;
	position: relative;
}
.infor_customer span{
	font-size: 0.8em;
	padding: 0 3px 0 8px;
}
.infor_customer .span_paddleft{
	padding-left: 20px;
	display: inline-block;
	width: 79%;
	height: 25px;
	border-bottom: 1px solid #cccccc;
}
.infor_customer input{
	display: inline-block;
	width: 79%;
	height: 32px;
	background: #F0E4DD;
	border: none;
	font-size: 0.8em;
	padding-left: 20px;
}
.box_ShangZhong .suopai select{
	width: 20% !important;
	padding: 0 3px !important;
}
.box_ShangZhong .suopai input{
	width: 56%;
	text-align: center;
}
input:focus{
	border: 1px solid #41D7B0;
	/*border-radius: 0;*/
}
.infor_customer select{
	display: inline-block;
	width: 79%;
	height: 32px;
	background: #F0E4DD;
	padding: 0 15px;
	border: none;
	font-size: 0.8em;
}
.box_state{
	margin: 5% 0;
}
.box_state p{
	color: #665241;
	padding-left: 8px;
	margin-bottom: 5px;
}
.box_state select{
	display: inline-block;
	width: 95%;
	height: 32px;
	background: #F0E4DD;
	padding: 0 15px;
	border: none;
	font-size: 11px;
	margin-left: 8px;
}
.mui-select:before{
	right: 10px;
}

.box_button button{
	width: 50%;
	border: none;
	height: 45px;
	color: #665241;
	border-radius: 0;
}
.box_button .btn_confirm{
	background: #E3D6CF;
	margin-left: -5px;
}
.box_button .btn_cancle{
	background: #ECE3DB;
}

/*弹窗---下钟*/
#XiaZhong{
	position: fixed;
	top: 10% !important;
	color: #665241;
	width: 82%;
	height: 300px;
	background: white;
	margin: 0 9%;
}
.box_XiaZhong{
	width: 100%;
	padding: 5% 8% 0;
}
#XiaZhong .box_Line{
	width: 50px;
	margin-bottom: 5%;
}
#XiaZhong .box_button{
	margin-top: 10%;
}

/*弹窗---报钟*/
#BaoZhong{
	position: fixed;
	top: 10% !important;
	color: #665241;
	width: 82%;
	height: 340px;
	background: white;
	margin: 0 9%;
}
.box_BaoZhong{
	width: 100%;
	padding: 5% 5% 0;
}
#BaoZhong .box_title{
	margin-left: 15px;
}
#BaoZhong .box_Line{
	width: 50px;
	margin-bottom: 5%;
}

#BaoZhong .infor_customer input{
	display: inline-block;
	width: 65%;
	height: 32px;
	background: #F0E4DD;
	border: none;
	font-size: 0.8em;
	padding: 0 0 0 10px;
}
.box_BaoZhong .suopai select{
	width: 20% !important;
	padding: 0 3px !important;
}
.box_BaoZhong .suopai input{
	width: 44% !important;
	text-align: center;
}
#BaoZhong .span_type{
	display: inline-block;
	letter-spacing: 30px;
	font-size: 0.8em;
  	padding: 0 3px 0 8px;
}
#BaoZhong .margin_left input{
	margin-left: -33px;
	font-size: 0.7em;
}
#BaoZhong .mui-select:before {
  	right: 10%;
}
#BaoZhong .infor_customer select{
	display: inline-block;
	width: 65%;
	height: 32px;
	background: #F0E4DD;
	padding: 0 5px;
	border: none;
	font-size: 0.8em;
}
#BaoZhong .box_button{
	margin-top: 12%;
}
/*提示框*/
/* bubble */
.tip-bubble {
	  display: none;
	  position: relative;
	  left: 30%;
	  top: -77px;
	  z-index: 12;
	  border: 1px solid #0A7D61;
	  background: white;
	  padding: 8px 10px;
	  color: red;
	  font-size: 0.6em;
	  text-align: center;
	  border-radius: 5px;
	  border: 1px solid #E6E6E6;
	  box-shadow: 1px 1px 2px #E6E6E6;
	  -moz-box-shadow: 1px 1px 2px #E6E6E6;
	  -webkit-border-shadow: 1px 1px 2px #E6E6E6;
}
.tip-bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
}
.tip-bubble-top:after {
  border-color: #F0E4DD;
  border-top-color: white;
  left: 30%;
  top: 100%;
  margin-left: -15px;
}
/*.tips_suopai{
	display: none;
	font-size: 0.6em;
	color: red;
	position: absolute;
	bottom: -15px;
	left: 30%;
}*/

/*弹窗---icon操作*/
#Icon_SheZhi{
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: #212120;
}
.box_Icon_SheZhi{
	text-align: center;
	padding-top: 20%;
	font-size: 0.9em;
}
.box_Icon_SheZhi .span_icon{
	margin-bottom: 15%;
}
.box_Icon_SheZhi .span_icon span{
	font-size: 43px;
}
.box_Icon_SheZhi .box_CaoZuo{
	margin-bottom: 10%;
}
.box_Icon_SheZhi .box_CaoZuo a{
	color: white;
}
.box_Icon_SheZhi .box_CaoZuo .box_Line{
	width: 50px;
	margin:  3px auto 0;
}
/*弹窗---帮助*/
#Help{
	position: fixed;
	top: 0 !important;
	left: 0;
	color: #665241;
	width: 100%;
	height: 100%;
}
.box_Help .mui-icon-closeempty{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 222;
	color: white;
	font-size: 40px !important;
}
#slider .mui-slider-indicator{
	bottom: 30px;
	z-index: 222 !important;
}

/*弹窗---上班/下班*/

#ShangBan,#XiaBan{
	position: fixed;
	top: 20% !important;
	color: #665241;
	width: 82%;
	height: 180px;
	background: white;
	border-radius: 5px;
	margin: 0 9%;
}
.box_shangban .tips{
	width: 90%;
	margin: 20px auto 10px;
	color: #665241;
	font-size: 1.0em;
	padding: 0 0 3px 10px;
	border-bottom: 1px solid #C7C7C7;
}
.shangban_content{
	padding: 25px 0 25px 10%;
	
}
.shangban_content p{
	color: #665241;
	font-size: 0.9em;
	line-height: 10px;
}
.shangban_content p .spare{
	width: 38px;
	height: 38px;
	display: inline-block;
	font-size: 1.2em;
	text-align: center;
	line-height: 38px;
	border: 1px solid #429650;
	color: #429650;
	border-radius: 50%;
	
}
.shangban_content p .waiting{
	width: 38px;
	height: 38px;
	display: inline-block;
	font-size: 1.2em;
	text-align: center;
	line-height: 38px;
	border: 1px solid #B6B6B7;
	color: #B6B6B7;
	border-radius: 50%;
}
/*弹窗---提示*/
#tip{
	display: none;
	 position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.3);
}
.tip_content{
	position: fixed;
	top: 25% !important;
	color: #665241;
	width: 82%;
	margin: 0 9%;
	height: 180px;
	background: white;
	border-radius: 2px;
}
.box_tip .title{
	width: 94%;
	margin: 0 auto;
	color: #665242;
	padding: 15px 0 5px 10px;
	border-bottom: 1px solid #E4E4E4;
}
.box_tip_content{
	padding: 30px 9% 25px;
}

.box_tip_content p{
	line-height: 10px;
	color: #665242;
	
}