
.red{
	color: red;
}
.mui-content{
	width: 100%;
	margin: 0 auto;
	padding-top: 8%;
}
.mui-content p{
	font-size: 0.75em;
	padding-left: 5%;
}
.Box_JiShi_infor{
	width: 100%;
	height: 40px;
	background: white;
	margin-bottom: 1px;
	position: relative;
	overflow: hidden;
}
.Box_JiShi_infor .type_div{
	position: absolute;
	top: 10px;
	left: 5%;
	color: #7D7780;
	font-size: 0.9em;
}
.Box_JiShi_infor input{
	border: none;
	width: 96%;
	height: 41px;
	margin: 0 2%;
	color: #938799;
	font-size: 0.85em;
	text-align: right;
	border-radius: 0;
	border-bottom: 1px solid #D3D2D2;
}
.Box_JiShi_infor .XingBie{
	width: 20%;
	height: 40px;
	color: #938799;
	font-size: 0.85em;
	float: right;
	text-align: center;
	padding-right: 0;
}

/*地址*/
.Box_JiSHI_infor2{
	background: white;
	width: 100%;
	margin: 10px 0;
}
.box_dizhi{
	width: 96%;
	margin: 0 auto;
	border-bottom: 1px solid #D3D2D2;
}
.box_dizhi .title{
	height: 35px;
	line-height: 35px;
	font-size: 0.9em;
	padding-left: 3%;
	color: #938799;
}
.box_dizhi .button{
	height: 45px;
	border-top: 1px solid #FAF1E9;
	border-bottom: 1px solid #FAF1E9;
}
.box_dizhi .button .btn{
	width: 80%;
	color: #938799;
	margin: 5px 10% 0;
}
.box_dizhi input{
	text-align: center;
	margin: 2px 0 0 0;
	border: none;
	color: #938799;
}
.Box_JiShi_infor .GongZhong{
	width: 35%;
	height: 40px;
	color: #938799;
	font-size: 0.85em;
	float: right;
	display: none;
}

.text_right{
	width: 100%;
	text-align: right;
}
.Box_JiShi_infor .Date{
	text-align: right !important;
	padding-right: 3%;
	padding-left: 62%;
}
.xiangmu{
	background: white;
}
.xiangmu a{
	color: #7D7780 !important;
	font-size: 0.9em;
}
.mui-table-view-cell>a:not(.mui-btn){
	padding-left: 5%;
}
.xiangmu .mui-table-view-cell{
	padding: 0 0 0 25px;
}
.mui-table-view-cell:after{
	width: 96%;
	left: 2%;
	background-color: #FAF1E9;
}
.YuYan{
	display: block;
	width: 100%;
	height: 40px;
	background: white;
	margin-bottom: 1px;
	position: relative;
}
.YuYan  .type_div{
	position: absolute;
	top: 10px;
	left: 5%;
	color: #7D7780;
	font-size: 0.9em;
}
.text_right{
	width: 96%;
	height: 41px;
	line-height: 40px;
	margin: 0 2%;
	color: #938799;
	font-size: 0.85em;
	text-align: right;
	padding-right: 3%;
	/*border-bottom: 1px solid #D3D2D2;*/
}

.box_btn{
	width: 86%;
	margin: 30px auto;
}
/*弹窗---性别*/
#XingBie{
	position: fixed;
	top: 15% !important;
	color: #665241;
	width: 82%;
	height: 220px;
	background: white;
	margin: 0 9%;
}
.box_yuyan{
	width: 100%;
	padding: 5% 8% 0;
}
#XingBie .box_Line{
	width: 50px;
	margin-bottom: 5%;
}

#XingBie .type_yuyan{
	margin: 20px 0;
}
#XingBie .box_button{
	margin-top: 40px;
}
.box_button button{
	width: 50%;
	border: none;
	height: 45px;
	color: #665241;
	border-radius: 0;
}
.box_button .btn_confirm{
	background: #E3D6CF;
}
.box_button .btn_cancle{
	margin-left: -5px;
	background: #ECE3DB;
}

/*弹窗---工种*/
#GongZhong{
	position: fixed;
	top: 15% !important;
	color: #665241;
	width: 82%;
	height: 280px;
	background: white;
	margin: 0 9%;
}
.box_yuyan{
	width: 100%;
	padding: 5% 8% 0;
}
#GongZhong .box_Line{
	width: 50px;
	margin-bottom: 5%;
}
#GongZhong .type_gongzhong{
	margin: 50px 0 0;
	width: 100%;
	height: 170px;
}

#GongZhong .box_button{
	margin-top: 210px;
}
.box_button button{
	width: 50%;
	border: none;
	height: 45px;
	color: #665241;
	border-radius: 0;
}
.box_button .btn_confirm{
	background: #E3D6CF;
}
.box_button .btn_cancle{
	/*margin-left: -3px;*/
	background: #ECE3DB;
}

/*弹窗---语言*/
#YuYan{
	position: fixed;
	top: 15% !important;
	color: #665241;
	width: 82%;
	height: 250px;
	background: white;
	margin: 0 9%;
}
.box_yuyan{
	width: 100%;
	padding: 5% 8% 0;
}
#YuYan .box_Line{
	width: 50px;
	margin-bottom: 5%;
}
#YuYan .type_yuyan{
	margin: 50px 0 0;
	width: 100%;
	height: 140px;
}
#YuYan .box_button{
	margin-top: 170px;
}
.box_button button{
	width: 50%;
	border: none;
	height: 45px;
	color: #665241;
	border-radius: 0;
}
.box_button .btn_confirm{
	background: #E3D6CF;
}
.box_button .btn_cancle{
	margin-left: -5px;
	background: #ECE3DB;
}

